#addNewsBntCnt{
    padding: 1em;
}
label[for="title"]{
    text-align: left;
}
.newsTitle{
    color: #846666;
}
.newsDescription{
    text-decoration: underline;
    font-size: 1.1em;
    padding: 1em 0;
}
.newsControlBtn{
    padding: 1em 0;
}
.editNewsBtn{
    float: right;
}
#exit{
    cursor: pointer;
}
#exit:hover{
    text-decoration: underline;
}
form[name="updateNews"] textarea{
    overflow-y: auto;
}